@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register","Account",FormMethod.Post,new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Email, "", new { @class = "text-danger" })
        </div>  
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Forename, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.Forename, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Forename, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.JobFunction, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.JobFunction, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.JobFunction, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Cellphone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Input.Cellphone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Cellphone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Input.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Input.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Input.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Input.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}